include ../../menuleft

div(id='contenu')
    h1(data-ng-if="action == 'add'") {{ elementConfig.libelleIHMAjout }}
    h1(data-ng-if="action != 'add'") {{ elementConfig.libelleIHMDetail }}
    form(ng-submit='add()', name="addForm",role='form')        
        div(class='form-group')
            label(for='nom') Nom
            input(type="text", data-ng-model="nom", id='nom', placeholder="Nom", name="nom", required, data-ng-minlength="1", data-ng-maxlength="20", autofocus,class='form-control app-control')
        div(class='form-group')
            label(for='description') Description
            textarea(rows=4, data-ng-model="description", placeholder="Description", name="description", required, data-ng-minlength="1", data-ng-maxlength="60",class='form-control app-control')
        div(class='form-group')
            label(for='editeur') Editeur
            select(data-ng-model="editeur",name="editeur",required,data-ng-options="editeur._id as editeur.nom for editeur in editeurs",class='form-control app-control')
        div(class='form-group')
            label(for='version') Version
            input(type="text", data-ng-model="version", id='version', placeholder="Version", name="version", required, data-ng-minlength="1", data-ng-maxlength="20",class='form-control app-control')
        div(class="row")
            div(class="col-md-2 app-control-date-input")
                div(class='form-group')
                    label(for='datefinsupport') Date de fin de support
                    input(type="text",class="form-control",datepicker-popup="dd/MM/yyyy",ng-model="datefinsupport",is-open="opened",min-date="'2000-01-01'",max-date="'2099-12-31'",datepicker-options="{formatYear: 'yyyy',startingDay: 1}",ng-required="true",close-text="Fermer",date-disabled="disabled(date, mode)")
            div(class="col-md-1 app-control-date-button")
                div(class='form-group')
                    label(for='buttondate') &nbsp;
                    button(type="button",class="btn btn-default form-control",ng-click="open($event)")
                        i(class="glyphicon glyphicon-calendar")
        div(class='form-group',data-access-level='accessLevels.admin')
            input(type="hidden", data-ng-model="_id", id='_id', name="_id")
            button.btn(type="submit", data-ng-disabled="addForm.$invalid") Valider

        .alert.alert-error(ng-show="addForm.$invalid && addForm.$dirty")
            strong Merci de corriger les éléments suivants :
            ul
                li(ng-show="addForm.nom.$error.required") Un nom est requis
                li(ng-show="addForm.nom.$error.$error.minlength") Le  nom doit avoir une longueur minimale de 1
                li(ng-show="addForm.nom.$error.maxlength") Le nom doit avoir une longueur maximum de 20
                li(ng-show="addForm.description.$error.required") Une description est requise
                li(ng-show="addForm.description.$error.$error.minlength") La description doit avoir une longueur minimale de 1
                li(ng-show="addForm.description.$error.maxlength") La description doit avoir une longueur maximum de 60
                li(ng-show="addForm.editeur.$error.required") Un editeur doit être saisi
                li(ng-show="addForm.version.$error.required") Une version est requise
                li(ng-show="addForm.version.$error.$error.minlength") La version doit avoir une longueur minimale de 1
                li(ng-show="addForm.version.$error.maxlength") La version doit avoir une longueur maximum de 20
                li(ng-show="addForm.datefinsupport.$error.required") Une date de fin de support est requise
        div(ng-show="doublon") Merci de saisir un autre nom, celui-ci est déjà utilisé
        
