include ../../menuleft

div(id='contenu')
    h1 Adminstration des blocs

    table.table.table-striped.table-condensed(data-ng-hide="loading")
        thead
            tr
                th Nom
                th Description
                th Zone
                th Action
        tbody
            tr(data-ng-repeat="bloc in blocs")
                td 
                    a(href='/bloc/item/{{ bloc.nom }}')
                        | {{ bloc.nom }}
                td
                   | {{ bloc.description }}
                td
                   | {{ bloc.zone.nom }}
                td
                    button(type='button',class='btn btn-link app-btn-delete',ng-click='delete(bloc.nom)')
                        span(class='glyphicon glyphicon-remove')
