include ../../menuleft

div(id='contenu')
    h1 Admin
    p This view is visible to users with the administrator role.

    table.table.table-striped.table-condensed(data-ng-hide="loading")
        thead
            tr
                th #
                th Username
                th Role
                th Action
        tbody
            tr(data-ng-repeat="user in users")
                td {{ user.id }}
                td
                   |  {{ user.username }}
                td
                    span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
                td
                    button(type='button',class='btn btn-link app-btn-delete')
                        span(class='glyphicon glyphicon-remove')
