div(class='jumbotron',data-ng-controller="LoginCtrl")
	div(class='container')
		h1 Hello, world!
		p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
		p
			a(class='btn btn-primary btn-lg',role='button') Learn more &raquo;

.container
	h1 Hello
	p This view is visible to unlogged in users.