div(id='main')
    div(id='menuleft')
        div(class="panel-group",id="accordionmenu")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h4(class="panel-title")
                        a(data-toggle="collapse",data-parent="#accordionmenu",href="#collapse1")
                            | Liste des items
                div(id="collapse1",class="panel-collapse collapse in")
                    div(class="panel-body")
                        div(id="jstree1",jstree)
                            ul
                                li(id="idtreezone")
                                    | Zone
                                li(id="idtreebloc")
                                    | Bloc
                                li(id="idtreequartier")
                                    | Quartier
            div(class="panel panel-default")
                div(class="panel-heading")
                    h4(class="panel-title")
                        a(data-toggle="collapse",data-parent="#accordionmenu",href="#collapse2")
                            | Liste des restitutions
                div(id="collapse2",class="panel-collapse collapse")
                    div(class="panel-body")
                       | Restitution 1
