include ../menuleft

div(id='contenu')
    h1 {{ elementConfig.libelleIHMListe }}

    table.table.table-striped.table-condensed(data-ng-hide="loading")
        thead
            tr
                th(data-ng-repeat="champ in elementConfig.champs",ng-show="!$first") {{ champ.nom }}
                th Action
        tbody
            tr(data-ng-repeat="element in objets")
                td(data-ng-repeat="champ in elementConfig.champs",ng-show="!$first",ng-switch="champ.typeChamp")
                   span(ng-switch-when='StringNom')
                       a(href='/{{ elementConfig.model }}/item/{{ element[champ.model] }}')
                           | {{ element[champ.model] }}
                   span(ng-switch-when='ObjectId') {{ element[champ.model].nom }} 
                   span(ng-switch-when='ArrayObjectId')
                       li(ng-repeat="item in element[champ.model]") {{ item.nom }}
                   span(ng-switch-default) {{ element[champ.model] }}
                td
                    button(type='button',class='btn btn-link app-btn-delete',ng-click='delete(element.nom)')
                        span(class='glyphicon glyphicon-remove')
