div(id='main')
    div(id='menuleft')
        
        accordion(close-others="true")
            accordion-group(is-open="true")
                accordion-heading
                    | Liste des entités
                div(id="jstreeParam",jstree jstree-type="param")
            accordion-group(is-open="true")
                accordion-heading
                    | Liste des configurations
                div(id="jstreeConfig",jstree jstree-type="config")

