div(id='main')
    div(id='menuleft')
        
        accordion(close-others="accordionCloseOther")
            accordion-group(data-ng-repeat="element in typeElements", is-open="isOpenAccordion")
                accordion-heading
                    | {{ element.texte }}
                div(id="jstree{{ element.nom }}",jstree jstree-type="{{ element.nom }}")

