extends ../common/layout

block content
    div(ng-view='ng-view')

block jsElements
    script(src='/common/lib/jstree.min.js')
    script(src='/restit/lib/d3.min.js')
    script(src='/restit/javascript/controllers.js')
    script(src='/restit/javascript/services.js')
    script(src='/restit/javascript/directives.js')

