div(id='main')
    div(id='menuleft')
        accordion(close-others="true")
            accordion-group(is-open="true")
                accordion-heading
                    | Liste des restitutions
                div(id="jstreerestit",jstreerestit)
